body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ------------------------Header------------------------------------ */
header {
    width: 95%;
    height: 100px;
    background-color: rgb(149, 143, 111);
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 7px black;
}

header h2 {
    margin: auto;
    cursor: pointer;
}

/* ---------------------------Body----------------------------------- */

.hero-picture img {
    border-radius: 10px;
}

/* --------------------------Footer---------------------------------- */

footer {
    width: 95%;
    height: 100px;
    background-color: rgb(149, 143, 111);
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 7px black;
}